# Ignore any generated project-documents in templates
templates/*/project-documents/

# misc
.DS_Store
*.pem

node_modules

# JetBrains IDEs – share only the useful bits
.idea/*
!.idea/modules.xml
!.idea/vcs.xml
!.idea/*.iml
!.idea/encodings.xml
!.idea/codeStyles/**
!.idea/inspectionProfiles/**
!.idea/runConfigurations/**
# Explicitly ignore user-specific noise
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
